<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="modal">
		<div class="modal fade small" id="registerJobGroup" tabindex="-1" role="dialog" aria-labelledby="registerJobGroupLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<form id="jobGroup" th:action="@{/group}" th:method="post">
						<div class="modal-header">
							<h5 class="modal-title" id="registerJobGroupLabel">작업그룹 등록</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-8 mb-3">
									<label for="groupName" class="col-form-label">작업그룹명</label>
									<input type="text" class="form-control" id="groupName" name="groupName" required="required"/>
								</div>
								<div class="col-md-4 mb-3">
									<label for="dbms" class="col-form-label">DBMS</label>
									<select name="dbms" id="dbms" class="form-control">
										<option th:each="dbms : ${dbmsList}" th:value="${dbms}" th:text="${dbms.dbms}"></option>
									</select>
								</div>
								<div class="col-md-12 mb-3">
									<label for="dbUrl" class="col-form-label">DB접속 URL</label>
									<input type="text" class="form-control" id="dbUrl" name="dbUrl" required="required"/>
								</div>
								<div class="col-md-6 mb-3">
									<label for="dbUsername" class="col-form-label">로그인 ID</label>
									<input type="text" class="form-control" id="dbUsername" name="dbUsername" required="required"/>
								</div>
								<div class="col-md-6 mb-3">
									<label for="dbPassword" class="col-form-label">암호</label>
									<input type="password" class="form-control" id="dbPassword" name="dbPassword" required="required"/>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-2 mb-3">
									실행주기(Cron)<br/>
									<span class="text-primary" id="cronParser"></span>
								</div>
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" id="cron" name="cron" required="required"/>
								</div>
								<div class="col-md-6 mb-3">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" name="chkMailing" id="chkMailing" checked="checked"/>
										<label class="custom-control-label" for="chkMailing">결과 메일링</label>
									</div>
								</div>
							</div>
							<div th:include="layout/cron :: cron"></div>
						</div>
						<input type="hidden" id="groupSeq" name="groupSeq" value="0"/>
						<input type="hidden" id="mailing" name="mailing"/>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">닫기</button>
							<button type="submit" class="btn btn-sm btn-primary">저장</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>