<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/default">
<head>
	<title>Log</title>
</head>
<body>
	<main layout:fragment="container">
		<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-success rounded shadow-sm" v-cloak="">
			<div class="lh-100">
				<h6 class="mb-0 text-white lh-100">Log</h6>
				<small>스케줄 작업 및 접속 로그</small>
			</div>
		</div>

		<div class="my-3 p-3 bg-white rounded shadow-sm">
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a href="#nav-taskLog" class="nav-item nav-link active" id="nav-taskLog-tab" data-toggle="tab" role="tab" aria-controls="nav-taskLog" aria-selected="true">
						스케줄
					</a>
					<a href="#nav-systemLog" class="nav-item nav-link" id="nav-systemLog-tab" data-toggle="tab" role="tab" aria-controls="nav-systemLog" aria-selected="true">
						접속기록
					</a>
					<a href="#nav-removeLog" class="nav-item nav-link" id="nav-removeLog-tab" data-toggle="tab" role="tab" aria-controls="nav-removeLog" aria-selected="true">
						로그삭제기록
					</a>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-taskLog" role="tabpanel" aria-labelledby="nav-taskLog-tab">
					<h6 class="border-bottom border-gray pb-2 mb-0 mt-3">스케줄 작업 로그</h6>
					<table class="table table-sm small">
						<thead class="thead-light">
						<tr>
							<th scope="col">#</th>
							<th scope="col">결과</th>
							<th scope="col">테이블</th>
							<th scope="col">Target Rows</th>
							<th scope="col">Query</th>
							<th scope="col">시작</th>
							<th scope="col">종료</th>
							<th scope="col">소요시간</th>
						</tr>
						</thead>
						<tbody>
						<tr v-if="task.list.length == 0">
							<td colspan="8"><p class="text-info d-flex justify-content-center">- 스케줄 실행 이력이 없습니다. -</p></td>
						</tr>
						<tr v-for="(item, index) in task.list" v-bind:key="item._id">
							<th scope="col">{{((task.paging.currPageNo - 1) * task.paging.rowsPerPage) + index + 1}}</th>
							<td>
								<span class="badge badge-primary" v-if="item.resultStatus == 'SUCCESS'" v-text="item.resultStatus"></span>
								<a href="javascript:void(0)" class="badge badge-danger" v-if="item.resultStatus == 'ERROR'" v-on:click="modal('Error Message', item.errorMsg)">{{item.resultStatus}}</a>
								<a href="javascript:void(0)" class="badge badge-warning" v-if="item.resultStatus == 'FAILURE'" v-on:click="modal('Error Message', item.errorMsg)">{{item.resultStatus}}</a>
								<a href="javascript:void(0)" class="badge badge-dark" v-if="item.resultStatus == 'NO_ACTION'" v-on:click="modal('Message', item.errorMsg)">{{item.resultStatus}}</a>
							</td>
							<td>
								<a v-bind:href="'/task/' + item.jobSeq + '?group=' + item.groupSeq" v-text="item.targetTable"></a>
							</td>
							<td>
								<span v-text="item.targetCount" v-if="item.targetData == null"></span>
								<a href="javascript:void(0)" v-text="item.targetCount" v-on:click="targetView(item.targetData)" v-if="item.targetData != null"></a>
							</td>
							<td><a href="javascript:void(0)" class="badge badge-secondary" v-if="item.resultStatus != 'NO_ACTION'" v-on:click="modal('ExecutedSQL', item.executedSql)">VIEW</a></td>
							<td>{{item.beginTime|formatDate}}</td>
							<td>{{item.endTime|formatDate}}</td>
							<td>{{item.proceedTime}} ms</td>
						</tr>
						</tbody>
					</table>
					<div class="d-flex bd-highlight">
						<div class="mr-auto p-2 bd-highlight">
							<nav aria-label="paging">
								<ul class="pagination pagination-sm">
									<li class="page-item" v-bind:class="task.paging.firstPageNo == task.paging.startPageNo ? 'disabled':''">
										<a href="javascript:void(0)" class="page-link" v-on:click="move('task', task.paging.startPageNo - 1)">Prev</a>
									</li>
									<li class="page-item" v-for="num in task.paging.pagingNumbers" v-bind:class="num == task.paging.currPageNo ? 'active':''">
										<a href="javascript:void(0)" class="page-link" v-on:click="num != task.paging.currPageNo ? move('task', num):''">{{num}}</a>
									</li>
									<li class="page-item" v-bind:class="task.paging.finalPageNo == task.paging.endPageNo ? 'disabled':''">
										<a href="javascript:void(0)" class="page-link" v-on:click="move('task', task.paging.endPageNo + 1)">Next</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class="p-2 bd-highlight">
							<a href="javascript:removeLog('task')"  class="btn btn-sm btn-danger" sec:authorize="hasRole('DEVELOPER') or hasRole('SUPER_ADMIN')">로그삭제</a>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="nav-systemLog" role="tabpanel" aria-labelledby="nav-systemLog-tab">
					<div class="d-flex justify-content-between align-items-center w-100 border-bottom border-gray">
						<h6 class="pb-2 mb-0 mt-3">시스템 접속 로그</h6>
						<form class="form-inline pb-2 mb-0 mt-1">
							<div class="form-group">
								<label for="status" class="sr-only">STATUS</label>
								<select name="status" id="status" class="form-control form-control-sm">
									<option value="">모두 보기</option>
									<th:block th:each="item : ${status}">
										<option th:value="${item}" th:text="${item}"></option>
									</th:block>
								</select>
							</div>
						</form>
					</div>
					<table class="table table-sm small">
						<thead class="thead-light">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Status</th>
							<th scope="col">Method</th>
							<th scope="col">Request Path</th>
							<th scope="col">Parameters</th>
							<th scope="col">Access Time</th>
							<th scope="col">ID</th>
							<th scope="col">IP</th>
							<th scope="col">Comment</th>
						</tr>
						</thead>
						<tbody>
						<tr v-if="system.list.length == 0">
							<td colspan="9"><p class="text-info d-flex justify-content-center">- 접속로그가 없습니다. -</p></td>
						</tr>
						<tr v-for="(item, index) in system.list" v-bind:key="item._id">
							<th scope="col">{{((system.paging.currPageNo - 1) * system.paging.rowsPerPage) + index + 1}}</th>
							<td>
								<span class="badge" v-bind:class="item.status == 'SUCCESS' ? 'badge-primary':'badge-danger'">{{item.status}}</span>
							</td>
							<td v-text="item.method"></td>
							<td v-text="item.requestPath"></td>
							<td><span v-if="item.params != '{}'">{{item.params}}</span></td>
							<td>{{item.beginTime|formatDate}}</td>
							<td v-text="item.username"></td>
							<td v-text="item.ip"></td>
							<td>
								<span v-if="item.status == 'SUCCESS'" v-text="item.comment"></span>
								<a href="javascript:void(0)" v-if="item.status == 'ERROR'" v-text="item.message" v-on:click="modal('Trace Log', item.traceLog)"></a>
							</td>
						</tr>
						</tbody>
					</table>
					<div class="d-flex bd-highlight">
						<div class="mr-auto p-2 bd-highlight">
							<nav aria-label="paging">
								<ul class="pagination pagination-sm">
									<li class="page-item" v-bind:class="system.paging.firstPageNo == system.paging.startPageNo ? 'disabled':''">
										<a href="javascript:void(0)" class="page-link" v-on:click="move('system', system.paging.startPageNo - 1)">Prev</a>
									</li>
									<li class="page-item" v-for="num in system.paging.pagingNumbers" v-bind:class="num == system.paging.currPageNo ? 'active':''">
										<a href="javascript:void(0)" class="page-link" v-on:click="num != system.paging.currPageNo ? move('system', num):''">{{num}}</a>
									</li>
									<li class="page-item" v-bind:class="system.paging.finalPageNo == system.paging.endPageNo ? 'disabled':''">
										<a href="javascript:void(0)" class="page-link" v-on:click="move('system', system.paging.endPageNo + 1)">Next</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class="p-2 bd-highlight">
							<a href="javascript:removeLog('system')" class="btn btn-sm btn-danger" sec:authorize="hasRole('DEVELOPER') or hasRole('SUPER_ADMIN')">로그삭제</a>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="nav-removeLog" role="tabpanel" aria-labelledby="nav-removeLog-tab">
					<h6 class="border-bottom border-gray pb-2 mb-0 mt-3">로그삭제</h6>
					<table class="table table-sm small">
						<thead class="thead-light">
						<tr>
							<th scope="col">#</th>
							<th scope="col">삭제대상</th>
							<th scope="col">삭제갯수</th>
							<th scope="col">삭제자</th>
							<th scope="col">수행시각</th>
						</tr>
						</thead>
						<tbody>
						<tr v-if="remove.list.length == 0">
							<td colspan="5"><p class="text-info d-flex justify-content-center">- 삭제이력이 없습니다. -</p></td>
						</tr>
						<tr v-for="(item, index) in remove.list" v-bind:key="item.seq">
							<th scope="col">{{index + 1}}</th>
							<td v-text="item.deleteTarget"></td>
							<td v-text="item.targetCount"></td>
							<td v-text="item.username"></td>
							<td>{{item.dt|formatDate}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div id="modal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h6 class="modal-title">{{title}}</h6>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" v-bind:style="table.column != null ? 'overflow-x: auto':''">
						<span v-html="content"></span>
						<table class="table table-sm table-bordered small" style="font-size: 50%" v-if="table.column != null">
							<thead class="thead-dark">
							<tr>
								<th scope="col" v-for="(item, index) in table.column" v-text="item"></th>
							</tr>
							</thead>
							<tbody>
							<tr v-for="(rowItem, rowIndex) in table.rows">
								<td v-for="(item, index) in table.column" v-text="rowItem[item]"></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script layout:fragment="script">
		Vue.filter('formatDate', function(value) {
			if(value) return moment(value).format('YYYY-MM-DD HH:mm:ss')
		})

		let modalData = new Vue({
			el: '#modal',
			data: {
				title: null,
				content: null,
				table: {
					column: null,
					rows: null
				}
			}
		})

		let logContent = new Vue({
			el: '#nav-tabContent',
			data: {
				task: {
					list: new Array(),
					paging: new Object()
				},
				system: {
					list: new Array(),
					paging: new Object()
				},
				remove: {
					list: new Array()
				}
			},
			methods: {
				move: function(flag, pageNo) {
					if (flag == 'task') getTaskLogList(pageNo)
					else getSystemLogList(pageNo)
				},
				modal: function(title, content) {
					modalData.title = title
					modalData.content = content.split('\n').join('<br />')
					$('#modal').modal('show')
				},
				targetView: function(dataRows) {
					let json = JSON.parse(dataRows)
					if (json.length > 0) {
						modalData.title = '업데이트 대상 데이터 Rows'
						modalData.table.column = Object.getOwnPropertyNames(json[0])
						modalData.table.rows = json
						$('#modal').modal('show')
					}
				}
			}
		})

		$('#modal').on('hide.bs.modal', function() {
			modalData.title = null
			modalData.content = null
			modalData.table.column = null
			modalData.table.rows = null
		})

		$('select#status').on('change', function() {
			getSystemLogList(1)
		})

		$('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
			console.log($(e.target).attr('id'))
			console.log($(e.relatedTarget).attr('id'))
			let tabName = $(e.target).attr('id')
			switch(tabName) {
				case 'nav-systemLog-tab':
					getSystemLogList(1)
					break
				case 'nav-removeLog-tab':
					getRemoveLogList()
					break
				case 'nav-taskLog-tab':
					getTaskLogList(1)
					break
			}
			return
		})

		function removeLog(flag) {
			if (confirm('로그기록을 완전히 삭제하시겠습니까? 복구할 수 없습니다.')) {
				$.ajax({
					url: '/removeLog/' + flag,
					type: 'DELETE',
					contentType: 'text'
				}).then(function(data) {
					if (flag == 'task') {
						getTaskLogList(1)
					} else {
						getSystemLogList(1)
					}
				})
			}
		}

		function getRemoveLogList() {
			$.get('/deleteLog', {}, function(res) {
				logContent['remove'].list = res
			}, 'json')
				.done(function(res) {
					console.log(res)
				})
				.fail(function(error) {
					alert('에러가 발생하였습니다.')
				})
		}

		function getSystemLogList(currPageNo) {
			let status = $('select#status').val()
			let url = status == '' ? '/systemLog':'/systemLog/' + status
			$.get(url, {currPageNo: currPageNo}, function(res) {
				logContent['system'].list = res.list
				logContent['system'].paging = res.paging
			}, 'json')
				.done(function(res) {
					console.log(res)
				})
				.fail(function(error) {
					alert('에러가 발생하였습니다.')
				})
		}

		function getTaskLogList(currPageNo) {
			$.get('/taskLog', {currPageNo: currPageNo}, function(res) {
				logContent['task'].list = res.list
				logContent['task'].paging = res.paging
			}, 'json')
				.done(function(res) {
					console.log(res)
				})
				.fail(function(error) {
					alert('에러가 발생하였습니다.')
				})
		}

		getTaskLogList(1)
	</script>
</body>
</html>