<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/default">
<head>
	<title>Log</title>
</head>
<body>
	<main layout:fragment="container">
		<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-success rounded shadow-sm" v-cloak="">
			<div class="lh-100">
				<h6 class="mb-0 text-white lh-100">Log</h6>
				<small>스케줄 작업 및 접속 로그</small>
			</div>
		</div>

		<div class="my-3 p-3 bg-white rounded shadow-sm" id="taskLogList">
			<h6 class="border-bottom border-gray pb-2 mb-0">스케줄 작업 로그</h6>
			<table class="table table-sm">
				<thead class="thead-light small">
				<tr>
					<th scope="col">#</th>
					<th scope="col">결과</th>
					<th scope="col">테이블</th>
					<th scope="col">Target Rows</th>
					<th scope="col">Query</th>
					<th scope="col">시작</th>
					<th scope="col">종료</th>
					<th scope="col">소요시간</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="(item, index) in list" v-bind:key="item._id">
					<th scope="col" class="small">{{((paging.currPageNo - 1) * paging.rowsPerPage) + index + 1}}</th>
					<td>
						<span class="badge badge-primary" v-if="item.resultStatus == 'SUCCESS'" v-text="item.resultStatus"></span>
						<a href="javascript:void(0)" class="badge badge-danger" v-if="item.resultStatus == 'ERROR'" v-on:click="modal('Error Message', item.errorMsg)">{{item.resultStatus}}</a>
						<a href="javascript:void(0)" class="badge badge-warning" v-if="item.resultStatus == 'FAILURE'" v-on:click="modal('Error Message', item.errorMsg)">{{item.resultStatus}}</a>
						<a href="javascript:void(0)" class="badge badge-dark" v-if="item.resultStatus == 'NOTPERFORMANCE'" v-on:click="modal('Message', item.errorMsg)">{{item.resultStatus}}</a>
					</td>
					<td class="small">
						<a v-bind:href="'/task/' + item.jobSeq + '?group=' + item.groupSeq" v-text="item.targetTable"></a>
					</td>
					<td v-text="item.targetCount" class="small"></td>
					<td><a href="javascript:void(0)" class="badge badge-secondary" v-if="item.resultStatus != 'NOTPERFORMANCE'" v-on:click="modal('ExecutedSQL', item.executedSql)">VIEW</a></td>
					<td class="small">{{item.beginTime|formatDate}}</td>
					<td class="small">{{item.endTime|formatDate}}</td>
					<td class="small">{{item.proceedTime}} ms</td>
				</tr>
				</tbody>
			</table>
			<nav aria-label="paging">
				<ul class="pagination pagination-sm">
					<li class="page-item" v-bind:class="paging.currPageNo == paging.firstPageNo ? 'disabled':''">
						<a href="javascript:void(0)" class="page-link" v-on:click="move(paging.firstPageNo)">Prev</a>
					</li>
					<li class="page-item" v-for="num in paging.pagingNumbers" v-bind:class="num == paging.currPageNo ? 'active':''">
						<a href="javascript:void(0)" class="page-link" v-on:click="num != paging.currPageNo ? move(num):''">{{num}}</a>
					</li>
					<li class="page-item" v-bind:class="paging.currPageNo == paging.finalPageNo ? 'disabled':''">
						<a href="javascript:void(0)" class="page-link" v-on:click="move(paging.finalPageNo)">Next</a>
					</li>
				</ul>
			</nav>
		</div>

		<div id="modal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h6 class="modal-title">{{title}}</h6>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						{{content}}
					</div>
				</div>
			</div>
		</div>
	</main>
	<script layout:fragment="script">
		Vue.filter('formatDate', function(value) {
			if(value) return moment(value).format('YYYY-MM-DD hh:mm:ss')
		})

		let modalData = new Vue({
			el: '#modal',
			data: {
				title: null,
				content: null
			}
		})

		let taskLog = new Vue({
			el: '#taskLogList',
			data: {
				list: new Array(),
				paging: new Object()
			},
			methods: {
				move: function(pageNo) {
					getTaskLogList(pageNo)
				},
				modal: function(title, content) {
					modalData.title = title
					modalData.content = content
					$('#modal').modal('show')
				}
			}
		})

		function getTaskLogList(currPageNo) {
			$.get('/taskLog', {currPageNo: currPageNo}, function(res) {
				taskLog.list = res.list
				taskLog.paging = res.paging
			}, 'json')
				.done(function(res) {
					console.log(res)
				})
				.fail(function(error) {
					alert('에러가 발생하였습니다.\n' + error.toString())
				})
		}

		getTaskLogList(1)
	</script>
</body>
</html>