<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="layout/default">
<head>
	<title>Task Handler</title>
	<style>
		li.lh-condensed p.h7.my-0 {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<main layout:fragment="container">
		<div class="row py-5 small">
			<div class="col-md-4 order-md-2 mb-4">
				<h4 class="d-flex justify-content-between align-items-center mb-3">
					<span class="text-muted">Task Sequence</span>
					<span class="badge badge-secondary badge-pill" th:text="${#lists.size(taskSequence)}">7</span>
				</h4>
				<ul class="list-group mb-3">
					<li class="list-group-item d-flex justify-content-between"
					    th:each="jobunit : ${taskSequence}"
					    th:with="self=${jobunit.jobSeq == job.jobSeq}"
					    th:classappend="${self}? 'bg-light' : 'lh-condensed'">
						<div th:class="${self}? 'text-success'">
							<p class="h7 my-0" th:text="${jobunit.targetTable}" th:attr="data-seq=${jobunit.jobSeq}"></p>
							<span th:class="${!self}? 'text-muted'" th:text="${jobunit.jobDescription}"></span>
						</div>
						<span th:class="${self}? 'text-success' : 'text-muted'" th:text="${jobunit.taskSeq}"></span>
					</li>
				</ul>
				<div class="card p-2">
					<a th:href="@{/task(group=${group.groupSeq})}" class="btn btn-sm btn-secondary btn-block">새 작업 등록</a>
				</div>
			</div>
			<div class="col-md-8 order-md-1">
				<form class="needs-validation" role="form" th:action="@{/task}" th:object="${job}" th:method="post" novalidate="">
					<h4 class="mb-3">Target Database</h4>
					<div class="row">
						<div class="col-md-3 mb-3">
							<label for="dbms">DBMS</label>
							<input type="text" class="form-control" id="dbms" th:value="${group.dbms.getDbms()}" disabled/>
						</div>
						<div class="col-md-9 mb-3">
							<label for="dbUrl">접속 URL</label>
							<input type="text" class="form-control" id="dbUrl" th:value="${group.dbUrl}" disabled>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 mb-3">
							<label for="dbUsername">로그인</label>
							<input type="text" class="form-control" id="dbUsername" th:value="${group.dbUsername}" disabled>
						</div>
						<div class="col-md-3 mb-3">
							<label for="dbPassword">암호</label>
							<input type="password" class="form-control" id="dbPassword" th:value="${group.dbPassword}" disabled>
						</div>
					</div>
					<hr class="mb-4">

					<h4 class="mb-3">Task Detail</h4>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="targetTable">테이블</label>
							<input type="text" th:field="*{targetTable}" class="form-control" id="targetTable" name="targetTable" placeholder="" value="" required="required">
							<div class="invalid-feedback">
								Valid task name is required.
							</div>
						</div>
					</div>

					<div class="mb-3">
						<label for="jobDescription">작업 내용</label>
						<input type="text" th:field="*{jobDescription}" class="form-control" id="jobDescription" name="jobDescription" placeholder="" value="">
					</div>

					<div class="mb-3">
						<label for="performing">수행절 (Update, Delete...)</label>
						<textarea name="performing" th:field="*{performing}" id="performing" rows="7" class="form-control" required="required"></textarea>
					</div>

					<div class="mb-3">
						<label for="conditional">조건절 (Where)</label>
						<textarea name="conditional" th:field="*{conditional}" id="conditional" rows="7" class="form-control" required="required"></textarea>
					</div>
					<hr class="mb-4">
					<div class="custom-control custom-checkbox">
						<input type="hidden" name="testMode" th:value="*{testMode == 'Y'} ? 'Y':'N'"/>
						<input type="checkbox" class="custom-control-input" name="chkTestMode" id="chkTestMode" th:checked="*{testMode == 'Y'}?:'checked'">
						<label class="custom-control-label" for="chkTestMode">테스트 모드</label>
					</div>

					<hr class="mb-4">
					<input type="hidden" th:field="*{jobSeq}"/>
					<input type="hidden" th:field="*{taskSeq}"/>
					<input type="hidden" th:field="${group.groupSeq}"/>
					<button class="btn btn-primary btn-block" type="submit" sec:authorize="hasRole('DEVELOPER') or hasRole('SUPER_ADMIN')">저장</button>
				</form>
			</div>
		</div>
	</main>
	<script layout:fragment="script">
		$('#chkTestMode').on('click', function () {
			$(this).prop('checked')?$('input[name=testMode]').val('Y'):$('input[name=testMode]').val('N')
		})
		$('li.lh-condensed p.h7.my-0').on('click', function() {
			let jobSeq = $(this).attr('data-seq')
			let groupSeq = $('input[name=groupSeq]').val()
			location.href = '/task/' + jobSeq + '?group=' + groupSeq
		})
	</script>
</body>
</html>