<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
	<title>Task Handler</title>
</head>
<body>
	<main layout:fragment="container">
		<div class="row py-5">
			<div class="col-md-4 order-md-2 mb-4">
				<h4 class="d-flex justify-content-between align-items-center mb-3">
					<span class="text-muted">Task Sequence</span>
					<span class="badge badge-secondary badge-pill">3</span>
				</h4>
				<ul class="list-group mb-3">
					<li class="list-group-item d-flex justify-content-between lh-condensed" th:each="jobunit : ${taskSequence}">
						<div>
							<h6 class="my-0" th:text="${jobunit.targetTable}"></h6>
							<small class="text-muted" th:text="${jobunit.jobDescription}"></small>
						</div>
						<span class="text-muted" th:text="${jobunit.taskSeq}"></span>
					</li>
					<li class="list-group-item d-flex justify-content-between bg-light">
						<div class="text-success">
							<h6 class="my-0">Promo code</h6>
							<small>EXAMPLECODE</small>
						</div>
						<span class="text-success">-$5</span>
					</li>
				</ul>

				<form class="card p-2">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Promo code">
						<div class="input-group-append">
							<button type="submit" class="btn btn-secondary">Redeem</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-8 order-md-1">
				<form class="needs-validation" role="form" th:action="@{/task}" th:object="${job}" th:method="post" novalidate="">
					<h4 class="mb-3">Target Database</h4>
					<div class="row">
						<div class="col-md-3 mb-3">
							<label for="dbms">DBMS</label>
							<input type="text" class="form-control" id="dbms" placeholder="" disabled value="">
						</div>
						<div class="col-md-9 mb-3">
							<label for="dbUrl">접속 URL</label>
							<input type="text" class="form-control" id="dbUrl" placeholder="" disabled value="">
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 mb-3">
							<label for="dbUsername">로그인</label>
							<input type="text" class="form-control" id="dbUsername" placeholder="" disabled value="">
						</div>
						<div class="col-md-3 mb-3">
							<label for="dbPassword">암호</label>
							<input type="password" class="form-control" id="dbPassword" placeholder="" disabled value="">
						</div>
					</div>
					<hr class="mb-4">

					<h4 class="mb-3">Task Detail</h4>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="targetTable">테이블</label>
							<input type="text" th:field="*{targetTable}" class="form-control" id="targetTable" name="targetTable" placeholder="" value="" required="required">
							<div class="invalid-feedback">
								Valid task name is required.
							</div>
						</div>
					</div>

					<div class="mb-3">
						<label for="jobDescription">작업 내용</label>
						<input type="text" th:field="*{jobDescription}" class="form-control" id="jobDescription" name="jobDescription" placeholder="" value="">
					</div>

					<div class="mb-3">
						<label for="performing">수행절 (Update, Delete...)</label>
						<textarea name="performing" th:field="*{performing}" id="performing" rows="5" class="form-control" required="required"></textarea>
					</div>

					<div class="mb-3">
						<label for="conditional">조건절 (Where)</label>
						<textarea name="conditional" th:field="*{conditional}" id="conditional" rows="5" class="form-control" required="required"></textarea>
					</div>
					<hr class="mb-4">
					<div class="custom-control custom-checkbox">
						<input type="hidden" name="testMode" th:value="*{testMode}?'N':*{testMode}"/>
						<input type="checkbox" class="custom-control-input" name="chkTestMode" id="chkTestMode" th:checked="*{testMode == 'Y'}?:'checked'">
						<label class="custom-control-label" for="chkTestMode">테스트 모드</label>
					</div>

					<hr class="mb-4">
					<input type="hidden" th:field="*{jobSeq}"/>
					<button class="btn btn-primary btn-lg btn-block" type="submit">저장</button>
				</form>
			</div>
		</div>
	</main>
	<script layout:fragment="script">
		$('#chkTestMode').on('click', () => $('#chkTestMode').prop('checked')?$('input[name=testMode]').val('Y'):$('input[name=testMode]').val('N'))
	</script>
</body>
</html>